@tailwind base;
@tailwind components;
@tailwind utilities;





.css-background {
  background: linear-gradient(
    225deg,
    #aadaff,
    #c7f4ff,
    #fae1e7,
    #b2e2fe,
    #e0ceff,
    #ffdcdc,
    #ffeedd
  );
  background-size: 1400% 1400%;

  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

.gradient-background {
  background: linear-gradient(
    225deg,
    #ffffff,
    #b3e0f5,
    #e7f6ff,
    #ece2fd,
    #d8ecff,
    #fdfdfd,
    #fff8e9
  );
  background-size: 1400% 1400%;

  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
